.neex-select {
  appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, var(--color-brand-primary) 50%),
    linear-gradient(135deg, var(--color-brand-primary) 50%, transparent 50%);
  background-position:
    calc(100% - 22px) calc(50% - 2px),
    calc(100% - 16px) calc(50% - 2px);
  background-size: 6px 6px, 6px 6px;
  background-repeat: no-repeat;
  padding-right: calc(var(--space-8) + var(--space-2));
}
